*,:after,:before{padding:0;margin:0;outline:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body{font-family:sans-serif;color:#000;font-size:14px;line-height:20px;font-weight:400;background:#eff2f5;-webkit-text-size-adjust:none}
::-webkit-scrollbar{width:10px;background-color:#f5f5f5;height:5px}
::-webkit-scrollbar-thumb{border-radius:10px;background-image:-webkit-gradient(linear,left bottom,left top,color-stop(.44,#d70101),color-stop(.72,#d70101),color-stop(.86,#d70101))}
::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgb(0 0 0 / 30%);box-shadow:inset 0 0 6px rgb(0 0 0 / 30%);background-color:#f5f5f5;border-radius:10px}
img{max-width:100%}
a{text-decoration:none;color:#000}
ol,ul{list-style-type:none}
.blink{animation:blinker 1s linear infinite;color:#d70101!important}
@keyframes blinker{
50%{opacity:0}
}
.adsCont{text-align:center;clear:both;margin:0 0 10px 0;position:relative;z-index:0;background:#f9f9f9;min-height:110px;padding-top:2px}
.adsCont:before{content:"Advertisement";font-size:10px;line-height:16px;display:block;color:#777}
.container-fluid{width:100%;margin-top:113px}
.container{max-width:1000px;margin:0 auto;width:100%}
.main_header{position:fixed;width:100%;z-index:9;top:0}
.main_header .topNav{background-color:#3e3e3e;border-bottom:3px solid #d70101}
.topNav .container{display:flex;align-items:center;min-height:50px}
.topNav .site-logo{margin-bottom:-40px;margin-right:10px;background-color:#444;border:1px solid #fff;border-radius:50px;display:flex;align-items:center;justify-content:center;width:68px;height:68px}
.topNav .topLmenu{display:flex;align-items:center;width:calc(100% - 230px)}
.topNav .topRmenu{display:flex;align-items:center}
.topNav ul li{display:inline-block;margin:0 9px;position:relative}
.topNav ul li a{font-size:16px;line-height:26px;font-weight:400;color:#fff;display:flex;align-items:center;font-family:Ramabhadra,sans-serif}
.live-tv{position:relative;display:flex;align-items:center;margin:0 9px}
.live-tv a{color:#fff;font-size:14px;font-weight:700}
.live-tv:before{width:8px;height:8px;content:"";background:#fff;border-radius:50px;margin-right:5px}
.topSearch{margin:0 9px}
.search-icon{display:block;cursor:pointer}
.search_btn{width:17px;height:17px;display:block;background-image:url(https://10tv.in/wp-content/themes/10tv/images/search.svg);background-repeat:no-repeat;background-size:100%}
.search{background:#fff;width:50%;position:absolute;right:45px;bottom:0;padding:10px;z-index:8;display:none;box-shadow:0 0 8px 0 rgb(35 14 194 / 20%)}
.search-box{position:relative;display:flex}
.search-box::after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;border-style:solid;border-width:0 0 2px 0;border-color:rgba(0,0,0,.05);pointer-events:none}
.search input[type=text]{height:40px;padding:5px 15px;width:100%;background:0 0;border:0;border-radius:0;color:#000}
.search .search-icon{float:right;position:absolute;right:-33px;top:-2px}
.search .search-icon img{width:24px;height:24px}
.search-form-btn{margin-bottom:0;padding:8px 16px;background-color:#f3c72e;font-size:14px;font-weight:400;color:#000;-webkit-transition:all .3s ease;transition:all .3s ease;z-index:1;border:0}
#menuToggle{display:block;z-index:1;-webkit-user-select:none;user-select:none}
#menuToggle input{display:block;width:22px;height:22px;position:absolute;cursor:pointer;opacity:0;z-index:2;-webkit-touch-callout:none}
#menuToggle span{display:block;width:22px;height:3px;margin-top:3px;position:relative;background:#fff;z-index:1;transform-origin:4px 0;transition:transform .5s cubic-bezier(.77,.2,.05,1),background .5s cubic-bezier(.77,.2,.05,1),opacity .55s ease}
#menuToggle span:first-child{transform-origin:0 0}
#menuToggle span:nth-last-child(2){transform-origin:0 100%}
#menuToggle input:checked~span{opacity:1;transform:rotate(45deg) translate(1px,1px);background:#232323}
#menuToggle input:checked~span:nth-last-child(3){opacity:0;transform:rotate(0) scale(.2,.2)}
#menuToggle input:checked~span:nth-last-child(2){opacity:1;transform:rotate(-45deg) translate(0,1px)}
#menu{position:fixed;width:320px;height:100vh;margin:0;padding-bottom:50px;top:0;right:0;background-color:#fff;border-left:1px solid #eee;list-style-type:none;-webkit-font-smoothing:antialiased;transform-origin:0 0;transform:translate(100%,0);transition:transform .5s cubic-bezier(.77,.2,.05,1);overflow: auto;border-bottom: 3px solid #d70101;}
#menu li{list-style:none;color:#fff;text-transform:uppercase;font-weight:700;padding:20px;cursor:pointer;border-bottom:1px solid #eee;display:block;margin:0}
#menu li a{color:#353535;text-transform:uppercase;font-weight:700;cursor:pointer;text-decoration:none;font-family:Mallanna,sans-serif;font-size:23px}
#menuToggle input:checked~ul{transform:none;opacity:1}
.hot-now-menu{background-color:#fff;display:flex;align-items:center;margin-bottom:10px}
.hot-now-menu .container{display:flex;justify-content:flex-start;align-items:center;min-height:50px;width:100%;padding-left:78px}
.hot-now-menu .hot-now-HD{color:#fff;text-align:center;font-size:14px;font-weight:700;letter-spacing:0;line-height:23px;height:22px;width:82px;border-radius:6px 1px 6px 2px;background-color:#d70101;margin-right:10px}
.hot-now-menu ul li{display:inline-block}
.hot-now-menu ul li a{padding:5px 15px;margin:0 5px;color:#4f4f4f;font-size:12px;font-weight:600;letter-spacing:0;line-height:26px;border-radius:12px;background-color:#f6f6f6;box-shadow:inset 0 -1px 0 0 #eee}
.column_layout{display:flex;width:100%;justify-content:flex-start}
.left_column{width:calc(100% - 315px)}
.right_column{width:300px;margin-left:15px}
.right_column .adsCont{min-height:270px}
.commonHD{display:flex;align-items:center;justify-content:space-between;margin-bottom:10px}
.commonHD h2{color:#d70101;font-size:25px;font-weight:400;line-height:41px;font-family:Ramabhadra,sans-serif}
.commonHD h2 a{color:#d70101}
.commonHD h2 span{color:#000}
.commonHD .more-news{font-family:Ramabhadra,sans-serif;text-transform:capitalize;font-size:16px}
.card_wrap{background:#fff;padding:10px;margin-bottom:10px}
.newsList_wrapper li{border-bottom:1px dashed #111;padding-bottom:10px;margin-bottom:10px;display:flex}
.newsList_wrapper li:last-child{border-bottom:none;margin-bottom:0;padding-bottom:0}
.newsList_wrapper li::before{content:"\25A0";color:red;font-weight:700;display:inline-block;width:10px;margin-right:5px}
.newsList_wrapper li a{color:#000;font-family:Ramabhadra,sans-serif;font-size:16px;font-weight:400;line-height:24px}
.newsList_wrapper li a{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical}
.bigMedia_Block figure{display:flex;margin-bottom:10px}
.topNews_Block .bigMedia_Block figure .image-thumb{width:332px}
.bigMedia_Block figure .image-thumb img{display:block}
.topNews_Block .bigMedia_Block figcaption{width:calc(100% - 332px);background:radial-gradient(ellipse at center,#000,#5b585c);padding:10px}
.topNews_Block .bigMedia_Block figcaption h1 a{color:#fff;font-family:Ramabhadra,sans-serif;font-size:24px;font-weight:400;line-height:30px}
.topNews_Block .bigMedia_Block figcaption p{color:#fff;font-family:Mallanna,sans-serif;font-size:16px;font-weight:400;line-height:22px;margin-top:10px}
.smallMedia_Block{display:flex}
.smallMedia_Block figure .image-thumb img{display:block;width:100%;height:inherit;margin-bottom:10px;border-radius:4px}
.smallMedia_Block figure{width:23.5%;margin-right:2%;margin-bottom:2%}
.smallMedia_Block figure:last-child{margin-right:0}
.smallMedia_Block figcaption h3{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical}
.smallMedia_Block figcaption h3 a{font-family:Ramabhadra,sans-serif;font-size:16px;font-weight:400;line-height:23px}
.webStoryWrapper ul{display:flex;flex-wrap:nowrap;overflow-x:auto;-webkit-overflow-scrolling:touch;margin-bottom:10px}
.webStoryWrapper li{position:relative;flex:1;margin-right:1%;max-width:212px}
.webStoryWrapper li:last-child{margin-right:0}
.webStoryWrapper .image-thumb img{border-radius:5px;height:auto;vertical-align:top}
.textgraint{padding:50% 10px 10px 10px;left:0;right:0;position:absolute;bottom:0;background:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0) 20%,rgba(0,0,0,.1) 30%,rgba(0,0,0,.8) 70%,#000 100%);display:flex;align-items:end;pointer-events:none}
.textgraint h3 a{color:#fff;white-space:initial;font-size:22px;font-family:Ramabhadra,sans-serif;font-weight:400;line-height:24px;display:block}
.textgraint h3{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical}
.webStoryWrapper .textgraint{border-radius:0 0 5px 5px}
.webStoryWrapper .textgraint h3 a{text-align:center}
.wb-icon{border-radius:10px;padding:10px 10px 10px 10px;left:0;position:absolute;top:0}
.latestNews_Block .newsList_wrapper ul{counter-reset:my-sec-counter}
.latestNews_Block .newsList_wrapper ul li{border-bottom:2px dotted #ccc}
.latestNews_Block .newsList_wrapper ul li:last-child{border-bottom:none}
.latestNews_Block .newsList_wrapper ul li::before{counter-increment:my-sec-counter;content:counter(my-sec-counter);border-radius:50%;width:30px;height:30px;display:flex;align-items:center;justify-content:center;border:2px solid #d70101;color:#d70101;margin-right:10px}
.latestNews_Block .newsList_wrapper ul li a{width:calc(100% - 40px)}
.twoColumn_layout{display:flex}
.catNews_Block{width:49%;margin-right:2%}
.catNews_Block:last-child{margin-right:0}
.catNews_Block .list_wrapper figure{display:flex;margin-bottom:10px;padding-bottom:10px;border-bottom:2px dotted #ccc}
.catNews_Block .list_wrapper figure:last-child{border-bottom:none}
.catNews_Block .list_wrapper figure .image-thumb{width:117px;margin-right:10px}
.catNews_Block .list_wrapper figure .image-thumb img{border-radius:5px;display:block}
.catNews_Block .list_wrapper figcaption{width:calc(100% - 127px)}
.catNews_Block .list_wrapper figcaption h3 a{color:#000;font-family:Ramabhadra,sans-serif;font-size:16px;font-weight:400;line-height:23px}
.moreNews{display:flex;justify-content:flex-end}
.moreNews a{font-family:Ramabhadra;color:#d70101}
.right_column .catNews_Block{width:100%}
.news_component .bigMedia_Block figure .image-thumb{width:400px;position:relative}
.news_component .bigMedia_Block figcaption{width:calc(100% - 400px)}
.list-news ul{list-style-type:circle;padding-left:30px}
.list-news li{margin-bottom:10px}
.list-news li a{color:#1a1a1a;font-family:Ramabhadra,sans-serif;font-size:16px;font-weight:400;line-height:22px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical}
.topStories_Block .story_wrapper{display:flex;}
.topStories_Block .topStories_BigMedia{width:400px;display: flex;justify-content: space-between;}
.topStories_Block .list-news{width: calc(100% - 400px);}
.topStories_Block .list-news li{border-bottom: 3px dotted #ccc;padding-bottom:10px}
.topStories_Block .list-news li:last-child{border-bottom: none;margin-bottom:0;}
.topStories_BigMedia figure{background: #eff2f5;width:48%}
.topStories_BigMedia figure img{display: block;width:100%}
.topStories_BigMedia figcaption{padding:10px;}
.topStories_BigMedia figcaption h3 a{font-family:Ramabhadra,sans-serif;font-size:16px;font-weight:400;}
.gallery_wrapper{background-color: #3e3e3e;padding:20px;margin-bottom:10px;}
.gallery_wrapper .commonHD h2, .gallery_wrapper .commonHD h2 a{color: #fff;}
.gallery_wrapper .mediaBox{display: flex;}
.gallery_wrapper .mediaBox img{display:block;border-radius:4px;}
.gallery_wrapper .mediaBox .bigGal{width:470px;margin-right:10px;}
.gallery_wrapper .mediaBox .smallGal{width: calc(100% - 480px);display:flex;flex-wrap: wrap;}
.gallery_wrapper .mediaBox .smallGal figure{width:32%;margin-right:2%;}
.gallery_wrapper .mediaBox .smallGal figure:nth-child(3n+3){margin-right:0;}
.scrolltop{width:35px;height:35px;position:fixed;bottom:40px;right:20px;display:none;background-color:red;z-index:99;text-align:center;cursor:pointer}
.scrolltop:after{border-bottom-style:solid;border-bottom-width:2px;border-right-style:solid;border-right-width:2px;content:"";display:inline-block;height:12px;width:12px;border-color:#fff;-moz-transform:rotate(225deg);-ms-transform:rotate(225deg);-webkit-transform:rotate(225deg);transform:rotate(225deg);margin-top:14px}
.footer{background:#000;padding:30px 0 0;color:#b7b7b7;width:100%;float:left;font-size:14px;margin-top:20px}
.footer .footer_top{display:flex;justify-content:space-around;font-family:Ramabhadra,sans-serif;font-size:16px;font-weight:400}
.footer .footer_top .footer-logo{display:flex;align-items:center}
.footer .footer_top .short-links ul,.social-links ul{padding-top:15px;line-height:29px}
.footer .footer_top .short-links ul li a,.social-links ul li a{color:#b7b7b7}
.social-links ul li a{display:flex;align-items:center}
.social-links svg{display:flex;width:16px;height:16px;background-image:none;margin-right:10px;align-items:center;fill:#b7b7b7}
.footer .footer-tags{padding:20px 0}
.footer .footer-tags ul{display:flex}
.footer .footer-tags ul li a{padding:10px 10px;color:#b7b7b7}
.footer .footer-tags ul li::after{border-right:1px solid #fff;content:" "}
.footer .footer-tags ul li:last-child::after{border-right:none}
.footer .footer-credits{text-align:right;padding:10px 0;border-top:2px solid #fff}
.footer .footer-credits a{color:#b7b7b7}